#directories
.vs/
bin/
bin-int/

# Files
*.user

#sln file
*.sln

#instrumentation JSON scripts in Sandbox
Sandbox/EngineProfile-Runtime.json
Sandbox/EngineProfile-Startup.json
Sandbox/EngineProfile-Shutdown.json