#directories
.vs/
bin/
bin-int/

# Files
*.user
*.*.filters
**.vcxproj

#sln file
*.sln

#instrumentation JSON scripts in Sandbox
*/EngineProfile-Startup.json
*/EngineProfile-Runtime.json
*/EngineProfile-Shutdown.json

*.ini
*.prefab